body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 16px;
}
a {
    text-decoration: none;
    color: white;
    padding: 8px;
}
.introduction {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}
.introduction img {
    width: 200px;
    height: auto;
}
.intro-text {
    max-width: 300px;
}
.information h2 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.info-img {
    width: 150px;
    height: 150px;
    border-radius: 25px;

}
.info-box {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.credit {
    align-self: flex-end;
    font-weight: 700;
    font-style: italic;
}